</div>
<div class="background_name">
    PETROV ALEKSANDR
</div>
<div class="content">

    <div class="index_hello_text">
        Привет! Меня зовут <b>Петров Александр</b> 👋
    </div>
    <p>
        Я <b>Ruby On Rails</b> разработчик.
    </p>
    <p>
        Пишу сайты с 2013 года. Вел проектную и фриланс деятельность.<br>
        За плечами опыт создания пяти стартапов.<br><br>
        Сейчас ищу компанию мечты, чтобы писать красивый код, пить кофе и получать удовольствие от работы. 
    </p>

    <div style="height: 1000px"></div>