</div>
<a name="hello" class="js-scroll-section"></a>
<div class="background_name">
  PETROV ALEKSANDR
</div>
<div class="content">

<div class="index_text_section">
  <%=raw section_content('hello') %>
</div>

