/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

 body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
 }

 .left_menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background: #000;
}
.main_content{
    float: right;
    width: calc(100% - 250px);
    position: relative;
    overflow: hidden;
}
.content{
    z-index: 5;
    position: relative;
    max-width: 800px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
}

.left_menu_avatar{
    width: 100%;
    display: block;
    border-radius: 20px;
    margin-top: 15px;
}
.left_menu_ul{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 50px;
}
.left_menu_ul li{
    display: block;
    margin-bottom: 15px;
}
.left_menu_ul li:hover{
    text-decoration: line-through;
}
.left_menu_ul a{
    color: #FFF;
    text-decoration: none;
}