<a name="portfolio" class="js-scroll-section"></a>
<div class="title_section">
    Портфолио
</div>

<%= render  partial: 'index/sections/portfolios/portfolio',
            collection: portfolios,
            spacer_template: 'index/sections/portfolios/portfolio_ruler' %>