<h1>JOYSTICK</h1>

<table>
  <tr>
    <td></td>
    <td><button id="up">↑</button></td>
    <td></td>
  </tr>
  <tr>
    <td><button id="left">←</button></td>
    <td></td>
    <td><button id="right">→</button></td>
  </tr>
  <tr>
    <td></td>
    <td><button id="down">↓</button></td>
    <td></td>
  </tr>
</table>